body{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

@media screen and (max-width: 1200px) {
    body{
        background-color: brown;
        font-size: 100px;
    }
}

@media screen and (max-width:1000px){
    body{
        background-color: rgb(41, 233, 41);
        font-size: 80px;
    }
}

@media screen and (max-width:700px) {
    
    body{
        background-color: rgb(215, 243, 57);
        font-size: 40px;
    }
}

@media screen and (max-width:480px) {
    body{
        background-color: rgb(38, 74, 153);
        font-size: 20px;
    }
}